@import "tailwindcss";



@theme {
  --font-sora: var(--font-sora);
  --font-inter: var(--font-inter);
  --font-spaceGrotesk: var(--font-spaceGrotesk);
  --font-montserrat: var(--font-montserrat);
}


